@inherits LayoutComponentBase
<div class="page">
    <div style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #008AD7 70%);" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
<<<<<<< HEAD
            <a href="https://www.BlueOceanIOT.com" target="_blank"><img src="BlueOceanIOTLogoTransparent.png" width="25%" height="25%" alt="Azure Static Web Apps" class="img-fluid" /></a>
            @* <LoginDisplay />  *@
=======
            <a href="https://www.BlueOceanIOT.com" target="_blank"><img src="BlueOceanIOTLogoTransparent.png"
            <LoginDisplay />
                                                                            width="25%" height="25%" alt="Azure Static Web Apps" class="img-fluid" /></a>
<<<<<<< HEAD
            <LoginDisplay /> 
>>>>>>> parent of 0547111 (backing out authentication)
            <a href="/about" target="_blank">About</a>
=======
                <a href="/about" target="_blank">About</a>
>>>>>>> parent of 56cbf72 (fix total login bar)
            </div>

            <article class="content px-4">
                @Body
            </article>
    </main>
</div>
