@page "/"

<PageTitle>Home</PageTitle>
<img src="Client/wwwroot/BlueOceanIOTLogoTransparent.png" alt="Azure Static Web Apps" class="img-fluid" />    

<h1>Test of Blazor WASM on an Azure Static Web App</h1>

<p>This is not a Blazor server app. It is a Blazor WebAssembly app, which means that the .NET runtime and the app's assemblies are downloaded to the browser, and the app runs on the client side. This allows for a rich interactive experience without needing to make round trips to the server for every interaction.</p>