@page "/Footer"
@* @using BlueOCeanIOTMain.Services
@inject StoreInfoService storeInfoService *@
    
<!-- Start Footer Area -->
<footer class="footer bg-light">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
@*                 <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="/"><img src="LinkedInHeader.png" width="75%" height="75%" alt="#"></a>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div> *@
@*                 <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/TermsAndConditons">Terms & Conditions</a></li>
                            <li><a href="PrivacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/faq">Faq</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Get In Touch</h4>
                        <ul>
                            <li class="text-dark">@storeInfoService.GetCity(), @storeInfoService.GetState()</li>
                            <li class="text-dark">@storeInfoService.GetStoreEmail()</li>
                            <li class="text-dark">@storeInfoService.GetStorePhone()</li>
                        </ul>
                    </div>
                </div>
 *@                <!-- End Single Widget -->
            </div>
        </div>
    </div>
 
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2024..2026 BlueOceanIOT <sup>&reg;</sup> -  All Rights Reserved</p>
                        </div>
                    </div>
@*                     <div class="col-lg-6 col-12">
                        <div class="right">
                            <img src="images/payments.png" alt="#">
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
